<!DOCTYPE html>
<html>
  <head>
    <title>Capitol United Cycling Club</title>
    <style>
      body {
        width: 35em;
        margin: 0 auto;
        font-family: Tahoma, Verdana, Arial, sans-serif;
      }

      .subheading {
        margin-top: -1rem;
        font-size: 0.92rem;
      }

      th {
        text-align: left;
      }

      hr {
        border: 1px solid;
      }
    </style>
  </head>
  <body>
    <h1>Capitol United Cycling Club</h1>
    {% for post in posts %}
    <article>
      <h3>{{post.title}}</h3>
      <p class="subheading">{{post.subtitle}}</p>
      <p>{{post.body}}</p>
      <table>
        {% for attribute in post.postattribute_set.all %}
        <tr>
          <th>{{attribute.name}}:</th>
          <td>{{attribute.value}}</td>
        </tr>
        {% endfor %}
      </table>
    </article>
    <hr />
    {% endfor %}
  </body>
</html>
